// Author: Dev_Devel

*, 
*::after, 
*::before {
box-sizing: border-box;
padding: 0;
margin: 0;
}

$dPurple: hsl(300, 43%, 22%);
$lPurple: hsl(303, 10%, 53%);
$bPurple: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
$pink: hsl(333, 80%, 67%);

body {
  font-family: 'league spartan', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}